$main-font-family: "sans-serif";

$main-color: #00B2A5;
$border-color: #aaa;
$active-color: #000;
$pending-color: #888;
$error-color: #F00;

$tool-border-color: #e1e1e1;
$tool-background-color: #f6f6f6;
$tool-background-color-2: #e9e9e9;
$tool-input-border-color: #cccccc;

$pattern-img-url: "../img/bg_pattern3.png";