@import "../vars";

.product .element {
  display: block;
  position: absolute !important;
  border: 1px dashed transparent;

  .element-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  .element-fix-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    cursor: default;
  }

}
.product .element.active {
  border: 1px dashed $active-color;
  &.error-out-of-border {
    border: 1px dashed $error-color;
  }
  &.error-out-of-border {
    border: 1px dashed $error-color+10;
  }
}